<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="@{/}"/>
    <meta charset="UTF-8">
    <title>宫颈上皮肉瘤患者信息[[${obj!=null&&obj.id!=null?'修改':'添加'}]]</title>
    <link rel="stylesheet" href="layui245/css/layui.css"/>
    <link rel="stylesheet" href="css/index.css"/>
    <style>
        ._li {
            float: left;
            width: 50%;
            margin-top: 6px;
        }

        .layui-form-label {
            width: 30%;
        }

        .layui-input-inline {
            width: 55%;
        }

        .clearfixed:after {
            display: block;
            clear: both;
            content: "";
            visibility: hidden;
            height: 0;
        }

        .layui-input-block {
            margin-top: 30px;
            margin-left: 46%;
        }
    </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:replace="~{common/top::topbar}"></div>
    <div th:replace="~{common/bar::menu(activeModel='epithelioma')}"></div>
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <form class="layui-form" id="subForm" method="post" th:action="@{/epithelioma/postInfo}"
                  style="width: 600px"
                  enctype="multipart/form-data">
                <table class="layui-table">
                    <input name="id" th:value="${obj!=null}?${obj.id}" type="hidden"/>

                    <div class="clearfixed">


                        <li class="_li">
                            <label class="layui-form-label">编码</label>
                            <div class="layui-input-inline">
                                <input name="number" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.number}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">住院号</label>
                            <div class="layui-input-inline">
                                <input name="admissionNumber" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.admissionNumber}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">姓名</label>
                            <div class="layui-input-inline">
                                <input name="name" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.name}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">身份证号</label>
                            <div class="layui-input-inline">
                                <input name="idNumber" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.idNumber}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">联系电话</label>
                            <div class="layui-input-inline">
                                <input name="homePhone" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.homePhone}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">家庭住址或工作单位</label>
                            <div class="layui-input-inline">
                                <input name="contactAddress" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.contactAddress}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">联系人</label>
                            <div class="layui-input-inline">
                                <input name="contact" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.contact}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">联系电话</label>
                            <div class="layui-input-inline">
                                <input name="contactNumber" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.contactNumber}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">联系人2</label>
                            <div class="layui-input-inline">
                                <input name="contactTwo" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.contactTwo}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">联系电话</label>
                            <div class="layui-input-inline">
                                <input name="contactNumberTwo" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.contactNumberTwo}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">出院科室</label>
                            <div class="layui-input-inline">
                                <input name="hospitalDepartments" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.hospitalDepartments}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">入院日期</label>
                            <div class="layui-input-inline">
                                <input name="admissionTime" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.admissionTime}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">出院日期</label>
                            <div class="layui-input-inline">
                                <input name="dischargeDate" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.dischargeDate}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">住院天数</label>
                            <div class="layui-input-inline">
                                <input name="hospitalizationDays" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.hospitalizationDays}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">主诉</label>
                            <div class="layui-input-inline">
                                <input name="principleAction" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.principleAction}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">初潮年龄</label>
                            <div class="layui-input-inline">
                                <input name="menarcheAge" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.menarcheAge}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">周期</label>
                            <div class="layui-input-inline">
                                <input name="cycle" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.cycle}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">经期</label>
                            <div class="layui-input-inline">
                                <input name="menstrualPeriod" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.menstrualPeriod}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">初婚年龄</label>
                            <div class="layui-input-inline">
                                <input name="firstMarriage" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.firstMarriage}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">分娩次数</label>
                            <div class="layui-input-inline">
                                <input name="productionNumber" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.productionNumber}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">流产次数</label>
                            <div class="layui-input-inline">
                                <input name="abortionNumber" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.abortionNumber}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">手术日期</label>
                            <div class="layui-input-inline">
                                <input name="surgeryDate" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.surgeryDate}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">手术方式</label>
                            <div class="layui-input-inline">
                                <input name="operationMethod" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.operationMethod}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">手术医生</label>
                            <div class="layui-input-inline">
                                <input name="surgeon" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.surgeon}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">病理号</label>
                            <div class="layui-input-inline">
                                <input name="pathology" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.pathology}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">CIN</label>
                            <div class="layui-input-inline">
                                <input name="cin" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.cin}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">累腺</label>
                            <div class="layui-input-inline">
                                <input name="tiredGland" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.tiredGland}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">其他</label>
                            <div class="layui-input-inline">
                                <input name="elseStr" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.elseStr}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">随访日期</label>
                            <div class="layui-input-inline">
                                <input name="followupTime" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.followupTime}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">存活死亡</label>
                            <div class="layui-input-inline">
                                <input name="whetherDeath" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.whetherDeath}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">死亡时间</label>
                            <div class="layui-input-inline">
                                <input name="deathTime" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.deathTime}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">死亡原因</label>
                            <div class="layui-input-inline">
                                <input name="deathCause" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.deathCause}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">定期复查</label>
                            <div class="layui-input-inline">
                                <input name="regularReview" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.regularReview}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">有无复发</label>
                            <div class="layui-input-inline">
                                <input name="recurrence" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.recurrence}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">复发时间</label>
                            <div class="layui-input-inline">
                                <input name="relapseTime" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.relapseTime}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">复发部位</label>
                            <div class="layui-input-inline">
                                <input name="recurrenceParts" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.recurrenceParts}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">复发治疗</label>
                            <div class="layui-input-inline">
                                <input name="recurrenceTreatment" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.recurrenceTreatment}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">转移部位</label>
                            <div class="layui-input-inline">
                                <input name="transfer" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.transfer}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">其他</label>
                            <div class="layui-input-inline">
                                <input name="other" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.other}"/>
                            </div>
                        </li>
                    </div>


                    <div class="layui-input-block">
                        <button class="layui-btn layui-btn-normal" type="submit">提交</button>
                    </div>
                </table>
            </form>
        </div>
    </div>
    <div th:replace="~{common/footer::ft}"></div>
</div>
<script language="JavaScript" src="js/jquery-3.4.1.min.js"></script>
<script language="JavaScript" th:src="@{/js/commonRun.js}"></script>
<script language="JavaScript" th:src="@{/js/laypage_ext.js}"></script>
</body>
</html>