<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="@{/}"/>
    <meta charset="UTF-8">
    <title>外阴癌患者信息[[${obj!=null&&obj.id!=null?'修改':'添加'}]]</title>
    <link rel="stylesheet" href="layui245/css/layui.css"/>
    <link rel="stylesheet" href="css/index.css"/>
    <style>
        ._li {
            float: left;
            width: 50%;
            margin-top: 6px;
        }

        .layui-form-label {
            width: 30%;
        }

        .layui-input-inline {
            width: 55%;
        }

        .clearfixed:after {
            display: block;
            clear: both;
            content: "";
            visibility: hidden;
            height: 0;
        }

        .layui-input-block {
            margin-top: 30px;
            margin-left: 46%;
        }
    </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:replace="~{common/top::topbar}"></div>
    <div th:replace="~{common/bar::menu(activeModel='vulvar')}"></div>
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <form class="layui-form" id="subForm" method="post" th:action="@{/vulvar/postInfo}" style="width: 600px"
                  enctype="multipart/form-data">
                <table class="layui-table">
                    <div class="clearfixed">
                        <input name="id" th:value="${obj!=null}?${obj.id}" type="hidden"/>
                        <li class="_li">
                            <label class="layui-form-label">编码</label>
                            <div class="layui-input-inline">
                                <input name="number" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.number}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">住院号</label>
                            <div class="layui-input-inline">
                                <input name="admissionNumber" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.admissionNumber}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">姓名</label>
                            <div class="layui-input-inline">
                                <input name="name" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.name}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">标本编码</label>
                            <div class="layui-input-inline">
                                <input name="specimenNumber" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.specimenNumber}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">年龄</label>
                            <div class="layui-input-inline">
                                <input name="age" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.age}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">身份号码</label>
                            <div class="layui-input-inline">
                                <input name="idNumber" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.idNumber}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">家庭住址</label>
                            <div class="layui-input-inline">
                                <input name="contactAddress" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.contactAddress}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">家庭电话</label>
                            <div class="layui-input-inline">
                                <input name="homePhone" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.homePhone}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">联系电话</label>
                            <div class="layui-input-inline">
                                <input name="contactNumber" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.contactNumber}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">联系电话2</label>
                            <div class="layui-input-inline">
                                <input name="contactTwo" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.contactTwo}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">其他联系方式</label>
                            <div class="layui-input-inline">
                                <input name="contactNumberThr" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.contactNumberThr}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">出院科室</label>
                            <div class="layui-input-inline">
                                <input name="hospitalDepartments" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.hospitalDepartments}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">入院时间</label>
                            <div class="layui-input-inline">
                                <input name="admissionTime" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.admissionTime}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">出院日期</label>
                            <div class="layui-input-inline">
                                <input name="dischargeDate" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.dischargeDate}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">住院天数</label>
                            <div class="layui-input-inline">
                                <input name="hospitalizationDays" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.hospitalizationDays}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">合并症</label>
                            <div class="layui-input-inline">
                                <input name="complications" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.complications}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">分期</label>
                            <div class="layui-input-inline">
                                <input name="installment" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.installment}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">家族史</label>
                            <div class="layui-input-inline">
                                <input name="familyHistory" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.familyHistory}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">其他</label>
                            <div class="layui-input-inline">
                                <input name="elseStr" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.elseStr}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">主诉</label>
                            <div class="layui-input-inline">
                                <input name="principleAction" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.principleAction}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">其他</label>
                            <div class="layui-input-inline">
                                <input name="other" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.other}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">手术日期</label>
                            <div class="layui-input-inline">
                                <input name="surgeryDate" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.surgeryDate}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">手术名称</label>
                            <div class="layui-input-inline">
                                <input name="operationMethod" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.operationMethod}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">手术次数</label>
                            <div class="layui-input-inline">
                                <input name="operationFrequency" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.operationFrequency}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">手术医生</label>
                            <div class="layui-input-inline">
                                <input name="surgeon" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.surgeon}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">病理号</label>
                            <div class="layui-input-inline">
                                <input name="pathology" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.pathology}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">是否疑难病例</label>
                            <div class="layui-input-inline">
                                <input name="whetherDifficultCase" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.whetherDifficultCase}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">备注</label>
                            <div class="layui-input-inline">
                                <input name="remarks" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.remarks}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">肿瘤切除面积cm</label>
                            <div class="layui-input-inline">
                                <input name="tumorArea" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.tumorArea}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">侵及范围</label>
                            <div class="layui-input-inline">
                                <input name="muscularisInfringement" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.muscularisInfringement}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">病理类型</label>
                            <div class="layui-input-inline">
                                <input name="pathologicTypes" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.pathologicTypes}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">阴道切缘</label>
                            <div class="layui-input-inline">
                                <input name="vaginalStump" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.vaginalStump}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">左右宫旁</label>
                            <div class="layui-input-inline">
                                <input name="parasymalTissue" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.parasymalTissue}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">分化</label>
                            <div class="layui-input-inline">
                                <input name="differentiation" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.differentiation}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">左闭孔淋巴结</label>
                            <div class="layui-input-inline">
                                <input name="leftObturator" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.leftObturator}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">右闭孔淋巴结</label>
                            <div class="layui-input-inline">
                                <input name="rightObturator" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.rightObturator}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">左腹股沟淋巴结</label>
                            <div class="layui-input-inline">
                                <input name="leftInguinalVein" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.leftInguinalVein}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">右腹股沟脉淋巴结</label>
                            <div class="layui-input-inline">
                                <input name="rightInguinalVein" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.rightInguinalVein}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">左腹股沟浅淋巴结</label>
                            <div class="layui-input-inline">
                                <input name="shallowLeftGroin" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.shallowLeftGroin}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">右腹股沟浅淋巴结</label>
                            <div class="layui-input-inline">
                                <input name="shallowRightGroin" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.shallowRightGroin}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">左腹股沟深淋巴结</label>
                            <div class="layui-input-inline">
                                <input name="leftDeepGroin" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.leftDeepGroin}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">右腹股沟深淋巴结</label>
                            <div class="layui-input-inline">
                                <input name="rightDeepGroin" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.rightDeepGroin}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">左盆腔</label>
                            <div class="layui-input-inline">
                                <input name="leftPelvic" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.leftPelvic}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">右盆腔</label>
                            <div class="layui-input-inline">
                                <input name="rightPelvic" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.rightPelvic}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">左髂总淋巴结</label>
                            <div class="layui-input-inline">
                                <input name="leftIliac" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.leftIliac}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">右髂总淋巴结</label>
                            <div class="layui-input-inline">
                                <input name="rightIliac" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.rightIliac}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">左髂血管淋巴结</label>
                            <div class="layui-input-inline">
                                <input name="leftBloodVessels" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.leftBloodVessels}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">右髂血管淋巴结</label>
                            <div class="layui-input-inline">
                                <input name="rightBloodVessels" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.rightBloodVessels}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">子宫</label>
                            <div class="layui-input-inline">
                                <input name="uterus" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.uterus}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">卵巢</label>
                            <div class="layui-input-inline">
                                <input name="ovary" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.ovary}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">宫颈</label>
                            <div class="layui-input-inline">
                                <input name="cervicitis" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.cervicitis}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">输卵管</label>
                            <div class="layui-input-inline">
                                <input name="fallopianTubes" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.fallopianTubes}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">CK56</label>
                            <div class="layui-input-inline">
                                <input name="ck56" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.ck56}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">P16</label>
                            <div class="layui-input-inline">
                                <input name="p16" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.p16}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">P63</label>
                            <div class="layui-input-inline">
                                <input name="p63" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.p63}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">MelanA</label>
                            <div class="layui-input-inline">
                                <input name="melana" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.melana}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">HMB45</label>
                            <div class="layui-input-inline">
                                <input name="hmb45" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.hmb45}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">ki67</label>
                            <div class="layui-input-inline">
                                <input name="ki67" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.ki67}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">P53</label>
                            <div class="layui-input-inline">
                                <input name="p53" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.p53}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">其他</label>
                            <div class="layui-input-inline">
                                <input name="elses" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.elses}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">术后化疗</label>
                            <div class="layui-input-inline">
                                <input name="postoperativeChemotherapy" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.postoperativeChemotherapy}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">是存活死亡</label>
                            <div class="layui-input-inline">
                                <input name="survival" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.survival}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">化疗</label>
                            <div class="layui-input-inline">
                                <input name="chemotherapy" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.chemotherapy}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">放疗</label>
                            <div class="layui-input-inline">
                                <input name="radiotherapy" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.radiotherapy}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">死亡时间</label>
                            <div class="layui-input-inline">
                                <input name="deathTime" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.deathTime}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">死亡原因</label>
                            <div class="layui-input-inline">
                                <input name="deathCause" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.deathCause}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">出院后治疗</label>
                            <div class="layui-input-inline">
                                <input name="postDischargeTreatment" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.postDischargeTreatment}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">妊娠情况</label>
                            <div class="layui-input-inline">
                                <input name="pregnancies" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.pregnancies}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">定期复查</label>
                            <div class="layui-input-inline">
                                <input name="regularReview" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.regularReview}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">有无复发</label>
                            <div class="layui-input-inline">
                                <input name="recurrence" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.recurrence}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">复发时间</label>
                            <div class="layui-input-inline">
                                <input name="relapseTime" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.relapseTime}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">复发部位</label>
                            <div class="layui-input-inline">
                                <input name="recurrenceParts" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.recurrenceParts}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">复发治疗</label>
                            <div class="layui-input-inline">
                                <input name="recurrenceTreatment" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.recurrenceTreatment}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">转移</label>
                            <div class="layui-input-inline">
                                <input name="transfer" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.transfer}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">第二肿瘤发生</label>
                            <div class="layui-input-inline">
                                <input name="secondaryTumorigenesis" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.secondaryTumorigenesis}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">第二肿瘤治疗</label>
                            <div class="layui-input-inline">
                                <input name="secondTumorTherapy" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.secondTumorTherapy}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">随访时间</label>
                            <div class="layui-input-inline">
                                <input name="followupTime" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.followupTime}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">存活</label>
                            <div class="layui-input-inline">
                                <input name="survivalOne" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.survivalOne}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">死亡时间</label>
                            <div class="layui-input-inline">
                                <input name="deathTimeTwo" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.deathTimeTwo}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">死亡原因</label>
                            <div class="layui-input-inline">
                                <input name="deathCauseTwo" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.deathCauseTwo}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">随访计划</label>
                            <div class="layui-input-inline">
                                <input name="followupTimeTwo" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.followupTimeTwo}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">结果</label>
                            <div class="layui-input-inline">
                                <input name="followupEndingTwo" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.followupEndingTwo}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">存活</label>
                            <div class="layui-input-inline">
                                <input name="survivalTwo" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.survivalTwo}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">死亡时间</label>
                            <div class="layui-input-inline">
                                <input name="deathTimeThr" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.deathTimeThr}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">死亡原因</label>
                            <div class="layui-input-inline">
                                <input name="deathCauseThr" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.deathCauseThr}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">出院诊断</label>
                            <div class="layui-input-inline">
                                <input name="hospitalDiagnosis" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.hospitalDiagnosis}"/>
                            </div>
                        </li>
                        <li class="_li">
                            <label class="layui-form-label">病理诊断</label>
                            <div class="layui-input-inline">
                                <input name="pathologicalDiagnosis" class="layui-input" type="text"
                                       th:value="${obj!=null}?${obj.pathologicalDiagnosis}"/>
                            </div>
                        </li>
                    </div>
                    <div class="layui-input-block">
                        <button class="layui-btn layui-btn-normal" type="submit">提交</button>
                    </div>
                </table>
            </form>
        </div>
    </div>
    <div th:replace="~{common/footer::ft}"></div>
</div>
<script language="JavaScript" src="js/jquery-3.4.1.min.js"></script>
<script language="JavaScript" th:src="@{/js/commonRun.js}"></script>
<script language="JavaScript" th:src="@{/js/laypage_ext.js}"></script>
</body>
</html>