<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fancy.cancer.impl.mapper.SarcomaMapper">
  <resultMap id="BaseResultMap" type="com.fancy.cancer.api.po.Sarcoma">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="number" jdbcType="VARCHAR" property="number" />
    <result column="admission_number" jdbcType="VARCHAR" property="admissionNumber" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="age" jdbcType="VARCHAR" property="age" />
    <result column="id_number" jdbcType="VARCHAR" property="idNumber" />
    <result column="specimen_number" jdbcType="VARCHAR" property="specimenNumber" />
    <result column="contact_address" jdbcType="VARCHAR" property="contactAddress" />
    <result column="home_phone" jdbcType="VARCHAR" property="homePhone" />
    <result column="contact_number" jdbcType="VARCHAR" property="contactNumber" />
    <result column="contact_two" jdbcType="VARCHAR" property="contactTwo" />
    <result column="contact_number_thr" jdbcType="VARCHAR" property="contactNumberThr" />
    <result column="admission_time" jdbcType="VARCHAR" property="admissionTime" />
    <result column="discharge_date" jdbcType="VARCHAR" property="dischargeDate" />
    <result column="hospitalization_days" jdbcType="VARCHAR" property="hospitalizationDays" />
    <result column="hospital_departments" jdbcType="VARCHAR" property="hospitalDepartments" />
    <result column="principle_action" jdbcType="VARCHAR" property="principleAction" />
    <result column="family_history" jdbcType="VARCHAR" property="familyHistory" />
    <result column="hospital_diagnosis" jdbcType="VARCHAR" property="hospitalDiagnosis" />
    <result column="complications" jdbcType="VARCHAR" property="complications" />
    <result column="else_str" jdbcType="VARCHAR" property="elseStr" />
    <result column="installment" jdbcType="VARCHAR" property="installment" />
    <result column="menarche_age" jdbcType="VARCHAR" property="menarcheAge" />
    <result column="menstrual_period" jdbcType="VARCHAR" property="menstrualPeriod" />
    <result column="cycle" jdbcType="VARCHAR" property="cycle" />
    <result column="menopausal_age" jdbcType="VARCHAR" property="menopausalAge" />
    <result column="lmp" jdbcType="VARCHAR" property="lmp" />
    <result column="marriage_history" jdbcType="VARCHAR" property="marriageHistory" />
    <result column="production_number" jdbcType="VARCHAR" property="productionNumber" />
    <result column="abortion_number" jdbcType="VARCHAR" property="abortionNumber" />
    <result column="surgery_date" jdbcType="VARCHAR" property="surgeryDate" />
    <result column="operation_method" jdbcType="VARCHAR" property="operationMethod" />
    <result column="surgeon" jdbcType="VARCHAR" property="surgeon" />
    <result column="pathology" jdbcType="VARCHAR" property="pathology" />
    <result column="differentiation" jdbcType="VARCHAR" property="differentiation" />
    <result column="pathologic_types" jdbcType="VARCHAR" property="pathologicTypes" />
    <result column="tumor_area" jdbcType="VARCHAR" property="tumorArea" />
    <result column="muscularis_infringement" jdbcType="VARCHAR" property="muscularisInfringement" />
    <result column="other" jdbcType="VARCHAR" property="other" />
    <result column="vaginal_stump" jdbcType="VARCHAR" property="vaginalStump" />
    <result column="parasymal_tissue" jdbcType="VARCHAR" property="parasymalTissue" />
    <result column="left_pelvic" jdbcType="VARCHAR" property="leftPelvic" />
    <result column="right_pelvic" jdbcType="VARCHAR" property="rightPelvic" />
    <result column="left_iliac" jdbcType="VARCHAR" property="leftIliac" />
    <result column="right_iliac" jdbcType="VARCHAR" property="rightIliac" />
    <result column="left_blood_vessels" jdbcType="VARCHAR" property="leftBloodVessels" />
    <result column="right_blood_vessels" jdbcType="VARCHAR" property="rightBloodVessels" />
    <result column="left_obturator" jdbcType="VARCHAR" property="leftObturator" />
    <result column="right_obturator" jdbcType="VARCHAR" property="rightObturator" />
    <result column="aorta_abdominalis" jdbcType="VARCHAR" property="aortaAbdominalis" />
    <result column="greater_omentum_tissue" jdbcType="VARCHAR" property="greaterOmentumTissue" />
    <result column="appendix" jdbcType="VARCHAR" property="appendix" />
    <result column="cervicitis" jdbcType="VARCHAR" property="cervicitis" />
    <result column="uterus" jdbcType="VARCHAR" property="uterus" />
    <result column="ovary" jdbcType="VARCHAR" property="ovary" />
    <result column="fallopian_tubes" jdbcType="VARCHAR" property="fallopianTubes" />
    <result column="er" jdbcType="VARCHAR" property="er" />
    <result column="pr" jdbcType="VARCHAR" property="pr" />
    <result column="p53" jdbcType="VARCHAR" property="p53" />
    <result column="ki67" jdbcType="VARCHAR" property="ki67" />
    <result column="ck" jdbcType="VARCHAR" property="ck" />
    <result column="sma" jdbcType="VARCHAR" property="sma" />
    <result column="cd10" jdbcType="VARCHAR" property="cd10" />
    <result column="elses" jdbcType="VARCHAR" property="elses" />
    <result column="postoperation_radiotherapy" jdbcType="VARCHAR" property="postoperationRadiotherapy" />
    <result column="postoperative_chemotherapy" jdbcType="VARCHAR" property="postoperativeChemotherapy" />
    <result column="chemotherapy_regimens" jdbcType="VARCHAR" property="chemotherapyRegimens" />
    <result column="chemotherapy_regimen" jdbcType="VARCHAR" property="chemotherapyRegimen" />
    <result column="followup_plan" jdbcType="VARCHAR" property="followupPlan" />
    <result column="followup_time" jdbcType="VARCHAR" property="followupTime" />
    <result column="followup_content" jdbcType="VARCHAR" property="followupContent" />
    <result column="transfer" jdbcType="VARCHAR" property="transfer" />
    <result column="survival" jdbcType="VARCHAR" property="survival" />
    <result column="death_time" jdbcType="VARCHAR" property="deathTime" />
    <result column="death_cause" jdbcType="VARCHAR" property="deathCause" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.fancy.cancer.api.po.Sarcoma">
    <result column="pathological_diagnosis" jdbcType="LONGVARCHAR" property="pathologicalDiagnosis" />
  </resultMap>
  <sql id="Base_Column_List">
    id, number, admission_number, name, age, id_number, specimen_number, contact_address, 
    home_phone, contact_number, contact_two, contact_number_thr, admission_time, discharge_date, 
    hospitalization_days, hospital_departments, principle_action, family_history, hospital_diagnosis, 
    complications, else_str, installment, menarche_age, menstrual_period, cycle, menopausal_age, 
    lmp, marriage_history, production_number, abortion_number, surgery_date, operation_method, 
    surgeon, pathology, differentiation, pathologic_types, tumor_area, muscularis_infringement, 
    other, vaginal_stump, parasymal_tissue, left_pelvic, right_pelvic, left_iliac, right_iliac, 
    left_blood_vessels, right_blood_vessels, left_obturator, right_obturator, aorta_abdominalis, 
    greater_omentum_tissue, appendix, cervicitis, uterus, ovary, fallopian_tubes, er, 
    pr, p53, ki67, ck, sma, cd10, elses, postoperation_radiotherapy, postoperative_chemotherapy, 
    chemotherapy_regimens, chemotherapy_regimen, followup_plan, followup_time, followup_content, 
    transfer, survival, death_time, death_cause
  </sql>
  <sql id="Blob_Column_List">
    pathological_diagnosis
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sarcoma
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sarcoma
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fancy.cancer.api.po.Sarcoma">
    insert into sarcoma (id, number, admission_number, 
      name, age, id_number, 
      specimen_number, contact_address, home_phone, 
      contact_number, contact_two, contact_number_thr, 
      admission_time, discharge_date, hospitalization_days, 
      hospital_departments, principle_action, family_history, 
      hospital_diagnosis, complications, else_str, 
      installment, menarche_age, menstrual_period, 
      cycle, menopausal_age, lmp, 
      marriage_history, production_number, abortion_number, 
      surgery_date, operation_method, surgeon, 
      pathology, differentiation, pathologic_types, 
      tumor_area, muscularis_infringement, other, 
      vaginal_stump, parasymal_tissue, left_pelvic, 
      right_pelvic, left_iliac, right_iliac, 
      left_blood_vessels, right_blood_vessels, left_obturator, 
      right_obturator, aorta_abdominalis, greater_omentum_tissue, 
      appendix, cervicitis, uterus, 
      ovary, fallopian_tubes, er, 
      pr, p53, ki67, ck, 
      sma, cd10, elses, postoperation_radiotherapy, 
      postoperative_chemotherapy, chemotherapy_regimens, 
      chemotherapy_regimen, followup_plan, followup_time, 
      followup_content, transfer, survival, 
      death_time, death_cause, pathological_diagnosis
      )
    values (#{id,jdbcType=INTEGER}, #{number,jdbcType=VARCHAR}, #{admissionNumber,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{age,jdbcType=VARCHAR}, #{idNumber,jdbcType=VARCHAR}, 
      #{specimenNumber,jdbcType=VARCHAR}, #{contactAddress,jdbcType=VARCHAR}, #{homePhone,jdbcType=VARCHAR}, 
      #{contactNumber,jdbcType=VARCHAR}, #{contactTwo,jdbcType=VARCHAR}, #{contactNumberThr,jdbcType=VARCHAR}, 
      #{admissionTime,jdbcType=VARCHAR}, #{dischargeDate,jdbcType=VARCHAR}, #{hospitalizationDays,jdbcType=VARCHAR}, 
      #{hospitalDepartments,jdbcType=VARCHAR}, #{principleAction,jdbcType=VARCHAR}, #{familyHistory,jdbcType=VARCHAR}, 
      #{hospitalDiagnosis,jdbcType=VARCHAR}, #{complications,jdbcType=VARCHAR}, #{elseStr,jdbcType=VARCHAR}, 
      #{installment,jdbcType=VARCHAR}, #{menarcheAge,jdbcType=VARCHAR}, #{menstrualPeriod,jdbcType=VARCHAR}, 
      #{cycle,jdbcType=VARCHAR}, #{menopausalAge,jdbcType=VARCHAR}, #{lmp,jdbcType=VARCHAR}, 
      #{marriageHistory,jdbcType=VARCHAR}, #{productionNumber,jdbcType=VARCHAR}, #{abortionNumber,jdbcType=VARCHAR}, 
      #{surgeryDate,jdbcType=VARCHAR}, #{operationMethod,jdbcType=VARCHAR}, #{surgeon,jdbcType=VARCHAR}, 
      #{pathology,jdbcType=VARCHAR}, #{differentiation,jdbcType=VARCHAR}, #{pathologicTypes,jdbcType=VARCHAR}, 
      #{tumorArea,jdbcType=VARCHAR}, #{muscularisInfringement,jdbcType=VARCHAR}, #{other,jdbcType=VARCHAR}, 
      #{vaginalStump,jdbcType=VARCHAR}, #{parasymalTissue,jdbcType=VARCHAR}, #{leftPelvic,jdbcType=VARCHAR}, 
      #{rightPelvic,jdbcType=VARCHAR}, #{leftIliac,jdbcType=VARCHAR}, #{rightIliac,jdbcType=VARCHAR}, 
      #{leftBloodVessels,jdbcType=VARCHAR}, #{rightBloodVessels,jdbcType=VARCHAR}, #{leftObturator,jdbcType=VARCHAR}, 
      #{rightObturator,jdbcType=VARCHAR}, #{aortaAbdominalis,jdbcType=VARCHAR}, #{greaterOmentumTissue,jdbcType=VARCHAR}, 
      #{appendix,jdbcType=VARCHAR}, #{cervicitis,jdbcType=VARCHAR}, #{uterus,jdbcType=VARCHAR}, 
      #{ovary,jdbcType=VARCHAR}, #{fallopianTubes,jdbcType=VARCHAR}, #{er,jdbcType=VARCHAR}, 
      #{pr,jdbcType=VARCHAR}, #{p53,jdbcType=VARCHAR}, #{ki67,jdbcType=VARCHAR}, #{ck,jdbcType=VARCHAR}, 
      #{sma,jdbcType=VARCHAR}, #{cd10,jdbcType=VARCHAR}, #{elses,jdbcType=VARCHAR}, #{postoperationRadiotherapy,jdbcType=VARCHAR}, 
      #{postoperativeChemotherapy,jdbcType=VARCHAR}, #{chemotherapyRegimens,jdbcType=VARCHAR}, 
      #{chemotherapyRegimen,jdbcType=VARCHAR}, #{followupPlan,jdbcType=VARCHAR}, #{followupTime,jdbcType=VARCHAR}, 
      #{followupContent,jdbcType=VARCHAR}, #{transfer,jdbcType=VARCHAR}, #{survival,jdbcType=VARCHAR}, 
      #{deathTime,jdbcType=VARCHAR}, #{deathCause,jdbcType=VARCHAR}, #{pathologicalDiagnosis,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fancy.cancer.api.po.Sarcoma">
    insert into sarcoma
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="number != null">
        number,
      </if>
      <if test="admissionNumber != null">
        admission_number,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="age != null">
        age,
      </if>
      <if test="idNumber != null">
        id_number,
      </if>
      <if test="specimenNumber != null">
        specimen_number,
      </if>
      <if test="contactAddress != null">
        contact_address,
      </if>
      <if test="homePhone != null">
        home_phone,
      </if>
      <if test="contactNumber != null">
        contact_number,
      </if>
      <if test="contactTwo != null">
        contact_two,
      </if>
      <if test="contactNumberThr != null">
        contact_number_thr,
      </if>
      <if test="admissionTime != null">
        admission_time,
      </if>
      <if test="dischargeDate != null">
        discharge_date,
      </if>
      <if test="hospitalizationDays != null">
        hospitalization_days,
      </if>
      <if test="hospitalDepartments != null">
        hospital_departments,
      </if>
      <if test="principleAction != null">
        principle_action,
      </if>
      <if test="familyHistory != null">
        family_history,
      </if>
      <if test="hospitalDiagnosis != null">
        hospital_diagnosis,
      </if>
      <if test="complications != null">
        complications,
      </if>
      <if test="elseStr != null">
        else_str,
      </if>
      <if test="installment != null">
        installment,
      </if>
      <if test="menarcheAge != null">
        menarche_age,
      </if>
      <if test="menstrualPeriod != null">
        menstrual_period,
      </if>
      <if test="cycle != null">
        cycle,
      </if>
      <if test="menopausalAge != null">
        menopausal_age,
      </if>
      <if test="lmp != null">
        lmp,
      </if>
      <if test="marriageHistory != null">
        marriage_history,
      </if>
      <if test="productionNumber != null">
        production_number,
      </if>
      <if test="abortionNumber != null">
        abortion_number,
      </if>
      <if test="surgeryDate != null">
        surgery_date,
      </if>
      <if test="operationMethod != null">
        operation_method,
      </if>
      <if test="surgeon != null">
        surgeon,
      </if>
      <if test="pathology != null">
        pathology,
      </if>
      <if test="differentiation != null">
        differentiation,
      </if>
      <if test="pathologicTypes != null">
        pathologic_types,
      </if>
      <if test="tumorArea != null">
        tumor_area,
      </if>
      <if test="muscularisInfringement != null">
        muscularis_infringement,
      </if>
      <if test="other != null">
        other,
      </if>
      <if test="vaginalStump != null">
        vaginal_stump,
      </if>
      <if test="parasymalTissue != null">
        parasymal_tissue,
      </if>
      <if test="leftPelvic != null">
        left_pelvic,
      </if>
      <if test="rightPelvic != null">
        right_pelvic,
      </if>
      <if test="leftIliac != null">
        left_iliac,
      </if>
      <if test="rightIliac != null">
        right_iliac,
      </if>
      <if test="leftBloodVessels != null">
        left_blood_vessels,
      </if>
      <if test="rightBloodVessels != null">
        right_blood_vessels,
      </if>
      <if test="leftObturator != null">
        left_obturator,
      </if>
      <if test="rightObturator != null">
        right_obturator,
      </if>
      <if test="aortaAbdominalis != null">
        aorta_abdominalis,
      </if>
      <if test="greaterOmentumTissue != null">
        greater_omentum_tissue,
      </if>
      <if test="appendix != null">
        appendix,
      </if>
      <if test="cervicitis != null">
        cervicitis,
      </if>
      <if test="uterus != null">
        uterus,
      </if>
      <if test="ovary != null">
        ovary,
      </if>
      <if test="fallopianTubes != null">
        fallopian_tubes,
      </if>
      <if test="er != null">
        er,
      </if>
      <if test="pr != null">
        pr,
      </if>
      <if test="p53 != null">
        p53,
      </if>
      <if test="ki67 != null">
        ki67,
      </if>
      <if test="ck != null">
        ck,
      </if>
      <if test="sma != null">
        sma,
      </if>
      <if test="cd10 != null">
        cd10,
      </if>
      <if test="elses != null">
        elses,
      </if>
      <if test="postoperationRadiotherapy != null">
        postoperation_radiotherapy,
      </if>
      <if test="postoperativeChemotherapy != null">
        postoperative_chemotherapy,
      </if>
      <if test="chemotherapyRegimens != null">
        chemotherapy_regimens,
      </if>
      <if test="chemotherapyRegimen != null">
        chemotherapy_regimen,
      </if>
      <if test="followupPlan != null">
        followup_plan,
      </if>
      <if test="followupTime != null">
        followup_time,
      </if>
      <if test="followupContent != null">
        followup_content,
      </if>
      <if test="transfer != null">
        transfer,
      </if>
      <if test="survival != null">
        survival,
      </if>
      <if test="deathTime != null">
        death_time,
      </if>
      <if test="deathCause != null">
        death_cause,
      </if>
      <if test="pathologicalDiagnosis != null">
        pathological_diagnosis,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="number != null">
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="admissionNumber != null">
        #{admissionNumber,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=VARCHAR},
      </if>
      <if test="idNumber != null">
        #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="specimenNumber != null">
        #{specimenNumber,jdbcType=VARCHAR},
      </if>
      <if test="contactAddress != null">
        #{contactAddress,jdbcType=VARCHAR},
      </if>
      <if test="homePhone != null">
        #{homePhone,jdbcType=VARCHAR},
      </if>
      <if test="contactNumber != null">
        #{contactNumber,jdbcType=VARCHAR},
      </if>
      <if test="contactTwo != null">
        #{contactTwo,jdbcType=VARCHAR},
      </if>
      <if test="contactNumberThr != null">
        #{contactNumberThr,jdbcType=VARCHAR},
      </if>
      <if test="admissionTime != null">
        #{admissionTime,jdbcType=VARCHAR},
      </if>
      <if test="dischargeDate != null">
        #{dischargeDate,jdbcType=VARCHAR},
      </if>
      <if test="hospitalizationDays != null">
        #{hospitalizationDays,jdbcType=VARCHAR},
      </if>
      <if test="hospitalDepartments != null">
        #{hospitalDepartments,jdbcType=VARCHAR},
      </if>
      <if test="principleAction != null">
        #{principleAction,jdbcType=VARCHAR},
      </if>
      <if test="familyHistory != null">
        #{familyHistory,jdbcType=VARCHAR},
      </if>
      <if test="hospitalDiagnosis != null">
        #{hospitalDiagnosis,jdbcType=VARCHAR},
      </if>
      <if test="complications != null">
        #{complications,jdbcType=VARCHAR},
      </if>
      <if test="elseStr != null">
        #{elseStr,jdbcType=VARCHAR},
      </if>
      <if test="installment != null">
        #{installment,jdbcType=VARCHAR},
      </if>
      <if test="menarcheAge != null">
        #{menarcheAge,jdbcType=VARCHAR},
      </if>
      <if test="menstrualPeriod != null">
        #{menstrualPeriod,jdbcType=VARCHAR},
      </if>
      <if test="cycle != null">
        #{cycle,jdbcType=VARCHAR},
      </if>
      <if test="menopausalAge != null">
        #{menopausalAge,jdbcType=VARCHAR},
      </if>
      <if test="lmp != null">
        #{lmp,jdbcType=VARCHAR},
      </if>
      <if test="marriageHistory != null">
        #{marriageHistory,jdbcType=VARCHAR},
      </if>
      <if test="productionNumber != null">
        #{productionNumber,jdbcType=VARCHAR},
      </if>
      <if test="abortionNumber != null">
        #{abortionNumber,jdbcType=VARCHAR},
      </if>
      <if test="surgeryDate != null">
        #{surgeryDate,jdbcType=VARCHAR},
      </if>
      <if test="operationMethod != null">
        #{operationMethod,jdbcType=VARCHAR},
      </if>
      <if test="surgeon != null">
        #{surgeon,jdbcType=VARCHAR},
      </if>
      <if test="pathology != null">
        #{pathology,jdbcType=VARCHAR},
      </if>
      <if test="differentiation != null">
        #{differentiation,jdbcType=VARCHAR},
      </if>
      <if test="pathologicTypes != null">
        #{pathologicTypes,jdbcType=VARCHAR},
      </if>
      <if test="tumorArea != null">
        #{tumorArea,jdbcType=VARCHAR},
      </if>
      <if test="muscularisInfringement != null">
        #{muscularisInfringement,jdbcType=VARCHAR},
      </if>
      <if test="other != null">
        #{other,jdbcType=VARCHAR},
      </if>
      <if test="vaginalStump != null">
        #{vaginalStump,jdbcType=VARCHAR},
      </if>
      <if test="parasymalTissue != null">
        #{parasymalTissue,jdbcType=VARCHAR},
      </if>
      <if test="leftPelvic != null">
        #{leftPelvic,jdbcType=VARCHAR},
      </if>
      <if test="rightPelvic != null">
        #{rightPelvic,jdbcType=VARCHAR},
      </if>
      <if test="leftIliac != null">
        #{leftIliac,jdbcType=VARCHAR},
      </if>
      <if test="rightIliac != null">
        #{rightIliac,jdbcType=VARCHAR},
      </if>
      <if test="leftBloodVessels != null">
        #{leftBloodVessels,jdbcType=VARCHAR},
      </if>
      <if test="rightBloodVessels != null">
        #{rightBloodVessels,jdbcType=VARCHAR},
      </if>
      <if test="leftObturator != null">
        #{leftObturator,jdbcType=VARCHAR},
      </if>
      <if test="rightObturator != null">
        #{rightObturator,jdbcType=VARCHAR},
      </if>
      <if test="aortaAbdominalis != null">
        #{aortaAbdominalis,jdbcType=VARCHAR},
      </if>
      <if test="greaterOmentumTissue != null">
        #{greaterOmentumTissue,jdbcType=VARCHAR},
      </if>
      <if test="appendix != null">
        #{appendix,jdbcType=VARCHAR},
      </if>
      <if test="cervicitis != null">
        #{cervicitis,jdbcType=VARCHAR},
      </if>
      <if test="uterus != null">
        #{uterus,jdbcType=VARCHAR},
      </if>
      <if test="ovary != null">
        #{ovary,jdbcType=VARCHAR},
      </if>
      <if test="fallopianTubes != null">
        #{fallopianTubes,jdbcType=VARCHAR},
      </if>
      <if test="er != null">
        #{er,jdbcType=VARCHAR},
      </if>
      <if test="pr != null">
        #{pr,jdbcType=VARCHAR},
      </if>
      <if test="p53 != null">
        #{p53,jdbcType=VARCHAR},
      </if>
      <if test="ki67 != null">
        #{ki67,jdbcType=VARCHAR},
      </if>
      <if test="ck != null">
        #{ck,jdbcType=VARCHAR},
      </if>
      <if test="sma != null">
        #{sma,jdbcType=VARCHAR},
      </if>
      <if test="cd10 != null">
        #{cd10,jdbcType=VARCHAR},
      </if>
      <if test="elses != null">
        #{elses,jdbcType=VARCHAR},
      </if>
      <if test="postoperationRadiotherapy != null">
        #{postoperationRadiotherapy,jdbcType=VARCHAR},
      </if>
      <if test="postoperativeChemotherapy != null">
        #{postoperativeChemotherapy,jdbcType=VARCHAR},
      </if>
      <if test="chemotherapyRegimens != null">
        #{chemotherapyRegimens,jdbcType=VARCHAR},
      </if>
      <if test="chemotherapyRegimen != null">
        #{chemotherapyRegimen,jdbcType=VARCHAR},
      </if>
      <if test="followupPlan != null">
        #{followupPlan,jdbcType=VARCHAR},
      </if>
      <if test="followupTime != null">
        #{followupTime,jdbcType=VARCHAR},
      </if>
      <if test="followupContent != null">
        #{followupContent,jdbcType=VARCHAR},
      </if>
      <if test="transfer != null">
        #{transfer,jdbcType=VARCHAR},
      </if>
      <if test="survival != null">
        #{survival,jdbcType=VARCHAR},
      </if>
      <if test="deathTime != null">
        #{deathTime,jdbcType=VARCHAR},
      </if>
      <if test="deathCause != null">
        #{deathCause,jdbcType=VARCHAR},
      </if>
      <if test="pathologicalDiagnosis != null">
        #{pathologicalDiagnosis,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fancy.cancer.api.po.Sarcoma">
    update sarcoma
    <set>
      <if test="number != null">
        number = #{number,jdbcType=VARCHAR},
      </if>
      <if test="admissionNumber != null">
        admission_number = #{admissionNumber,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        age = #{age,jdbcType=VARCHAR},
      </if>
      <if test="idNumber != null">
        id_number = #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="specimenNumber != null">
        specimen_number = #{specimenNumber,jdbcType=VARCHAR},
      </if>
      <if test="contactAddress != null">
        contact_address = #{contactAddress,jdbcType=VARCHAR},
      </if>
      <if test="homePhone != null">
        home_phone = #{homePhone,jdbcType=VARCHAR},
      </if>
      <if test="contactNumber != null">
        contact_number = #{contactNumber,jdbcType=VARCHAR},
      </if>
      <if test="contactTwo != null">
        contact_two = #{contactTwo,jdbcType=VARCHAR},
      </if>
      <if test="contactNumberThr != null">
        contact_number_thr = #{contactNumberThr,jdbcType=VARCHAR},
      </if>
      <if test="admissionTime != null">
        admission_time = #{admissionTime,jdbcType=VARCHAR},
      </if>
      <if test="dischargeDate != null">
        discharge_date = #{dischargeDate,jdbcType=VARCHAR},
      </if>
      <if test="hospitalizationDays != null">
        hospitalization_days = #{hospitalizationDays,jdbcType=VARCHAR},
      </if>
      <if test="hospitalDepartments != null">
        hospital_departments = #{hospitalDepartments,jdbcType=VARCHAR},
      </if>
      <if test="principleAction != null">
        principle_action = #{principleAction,jdbcType=VARCHAR},
      </if>
      <if test="familyHistory != null">
        family_history = #{familyHistory,jdbcType=VARCHAR},
      </if>
      <if test="hospitalDiagnosis != null">
        hospital_diagnosis = #{hospitalDiagnosis,jdbcType=VARCHAR},
      </if>
      <if test="complications != null">
        complications = #{complications,jdbcType=VARCHAR},
      </if>
      <if test="elseStr != null">
        else_str = #{elseStr,jdbcType=VARCHAR},
      </if>
      <if test="installment != null">
        installment = #{installment,jdbcType=VARCHAR},
      </if>
      <if test="menarcheAge != null">
        menarche_age = #{menarcheAge,jdbcType=VARCHAR},
      </if>
      <if test="menstrualPeriod != null">
        menstrual_period = #{menstrualPeriod,jdbcType=VARCHAR},
      </if>
      <if test="cycle != null">
        cycle = #{cycle,jdbcType=VARCHAR},
      </if>
      <if test="menopausalAge != null">
        menopausal_age = #{menopausalAge,jdbcType=VARCHAR},
      </if>
      <if test="lmp != null">
        lmp = #{lmp,jdbcType=VARCHAR},
      </if>
      <if test="marriageHistory != null">
        marriage_history = #{marriageHistory,jdbcType=VARCHAR},
      </if>
      <if test="productionNumber != null">
        production_number = #{productionNumber,jdbcType=VARCHAR},
      </if>
      <if test="abortionNumber != null">
        abortion_number = #{abortionNumber,jdbcType=VARCHAR},
      </if>
      <if test="surgeryDate != null">
        surgery_date = #{surgeryDate,jdbcType=VARCHAR},
      </if>
      <if test="operationMethod != null">
        operation_method = #{operationMethod,jdbcType=VARCHAR},
      </if>
      <if test="surgeon != null">
        surgeon = #{surgeon,jdbcType=VARCHAR},
      </if>
      <if test="pathology != null">
        pathology = #{pathology,jdbcType=VARCHAR},
      </if>
      <if test="differentiation != null">
        differentiation = #{differentiation,jdbcType=VARCHAR},
      </if>
      <if test="pathologicTypes != null">
        pathologic_types = #{pathologicTypes,jdbcType=VARCHAR},
      </if>
      <if test="tumorArea != null">
        tumor_area = #{tumorArea,jdbcType=VARCHAR},
      </if>
      <if test="muscularisInfringement != null">
        muscularis_infringement = #{muscularisInfringement,jdbcType=VARCHAR},
      </if>
      <if test="other != null">
        other = #{other,jdbcType=VARCHAR},
      </if>
      <if test="vaginalStump != null">
        vaginal_stump = #{vaginalStump,jdbcType=VARCHAR},
      </if>
      <if test="parasymalTissue != null">
        parasymal_tissue = #{parasymalTissue,jdbcType=VARCHAR},
      </if>
      <if test="leftPelvic != null">
        left_pelvic = #{leftPelvic,jdbcType=VARCHAR},
      </if>
      <if test="rightPelvic != null">
        right_pelvic = #{rightPelvic,jdbcType=VARCHAR},
      </if>
      <if test="leftIliac != null">
        left_iliac = #{leftIliac,jdbcType=VARCHAR},
      </if>
      <if test="rightIliac != null">
        right_iliac = #{rightIliac,jdbcType=VARCHAR},
      </if>
      <if test="leftBloodVessels != null">
        left_blood_vessels = #{leftBloodVessels,jdbcType=VARCHAR},
      </if>
      <if test="rightBloodVessels != null">
        right_blood_vessels = #{rightBloodVessels,jdbcType=VARCHAR},
      </if>
      <if test="leftObturator != null">
        left_obturator = #{leftObturator,jdbcType=VARCHAR},
      </if>
      <if test="rightObturator != null">
        right_obturator = #{rightObturator,jdbcType=VARCHAR},
      </if>
      <if test="aortaAbdominalis != null">
        aorta_abdominalis = #{aortaAbdominalis,jdbcType=VARCHAR},
      </if>
      <if test="greaterOmentumTissue != null">
        greater_omentum_tissue = #{greaterOmentumTissue,jdbcType=VARCHAR},
      </if>
      <if test="appendix != null">
        appendix = #{appendix,jdbcType=VARCHAR},
      </if>
      <if test="cervicitis != null">
        cervicitis = #{cervicitis,jdbcType=VARCHAR},
      </if>
      <if test="uterus != null">
        uterus = #{uterus,jdbcType=VARCHAR},
      </if>
      <if test="ovary != null">
        ovary = #{ovary,jdbcType=VARCHAR},
      </if>
      <if test="fallopianTubes != null">
        fallopian_tubes = #{fallopianTubes,jdbcType=VARCHAR},
      </if>
      <if test="er != null">
        er = #{er,jdbcType=VARCHAR},
      </if>
      <if test="pr != null">
        pr = #{pr,jdbcType=VARCHAR},
      </if>
      <if test="p53 != null">
        p53 = #{p53,jdbcType=VARCHAR},
      </if>
      <if test="ki67 != null">
        ki67 = #{ki67,jdbcType=VARCHAR},
      </if>
      <if test="ck != null">
        ck = #{ck,jdbcType=VARCHAR},
      </if>
      <if test="sma != null">
        sma = #{sma,jdbcType=VARCHAR},
      </if>
      <if test="cd10 != null">
        cd10 = #{cd10,jdbcType=VARCHAR},
      </if>
      <if test="elses != null">
        elses = #{elses,jdbcType=VARCHAR},
      </if>
      <if test="postoperationRadiotherapy != null">
        postoperation_radiotherapy = #{postoperationRadiotherapy,jdbcType=VARCHAR},
      </if>
      <if test="postoperativeChemotherapy != null">
        postoperative_chemotherapy = #{postoperativeChemotherapy,jdbcType=VARCHAR},
      </if>
      <if test="chemotherapyRegimens != null">
        chemotherapy_regimens = #{chemotherapyRegimens,jdbcType=VARCHAR},
      </if>
      <if test="chemotherapyRegimen != null">
        chemotherapy_regimen = #{chemotherapyRegimen,jdbcType=VARCHAR},
      </if>
      <if test="followupPlan != null">
        followup_plan = #{followupPlan,jdbcType=VARCHAR},
      </if>
      <if test="followupTime != null">
        followup_time = #{followupTime,jdbcType=VARCHAR},
      </if>
      <if test="followupContent != null">
        followup_content = #{followupContent,jdbcType=VARCHAR},
      </if>
      <if test="transfer != null">
        transfer = #{transfer,jdbcType=VARCHAR},
      </if>
      <if test="survival != null">
        survival = #{survival,jdbcType=VARCHAR},
      </if>
      <if test="deathTime != null">
        death_time = #{deathTime,jdbcType=VARCHAR},
      </if>
      <if test="deathCause != null">
        death_cause = #{deathCause,jdbcType=VARCHAR},
      </if>
      <if test="pathologicalDiagnosis != null">
        pathological_diagnosis = #{pathologicalDiagnosis,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.fancy.cancer.api.po.Sarcoma">
    update sarcoma
    set number = #{number,jdbcType=VARCHAR},
      admission_number = #{admissionNumber,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      age = #{age,jdbcType=VARCHAR},
      id_number = #{idNumber,jdbcType=VARCHAR},
      specimen_number = #{specimenNumber,jdbcType=VARCHAR},
      contact_address = #{contactAddress,jdbcType=VARCHAR},
      home_phone = #{homePhone,jdbcType=VARCHAR},
      contact_number = #{contactNumber,jdbcType=VARCHAR},
      contact_two = #{contactTwo,jdbcType=VARCHAR},
      contact_number_thr = #{contactNumberThr,jdbcType=VARCHAR},
      admission_time = #{admissionTime,jdbcType=VARCHAR},
      discharge_date = #{dischargeDate,jdbcType=VARCHAR},
      hospitalization_days = #{hospitalizationDays,jdbcType=VARCHAR},
      hospital_departments = #{hospitalDepartments,jdbcType=VARCHAR},
      principle_action = #{principleAction,jdbcType=VARCHAR},
      family_history = #{familyHistory,jdbcType=VARCHAR},
      hospital_diagnosis = #{hospitalDiagnosis,jdbcType=VARCHAR},
      complications = #{complications,jdbcType=VARCHAR},
      else_str = #{elseStr,jdbcType=VARCHAR},
      installment = #{installment,jdbcType=VARCHAR},
      menarche_age = #{menarcheAge,jdbcType=VARCHAR},
      menstrual_period = #{menstrualPeriod,jdbcType=VARCHAR},
      cycle = #{cycle,jdbcType=VARCHAR},
      menopausal_age = #{menopausalAge,jdbcType=VARCHAR},
      lmp = #{lmp,jdbcType=VARCHAR},
      marriage_history = #{marriageHistory,jdbcType=VARCHAR},
      production_number = #{productionNumber,jdbcType=VARCHAR},
      abortion_number = #{abortionNumber,jdbcType=VARCHAR},
      surgery_date = #{surgeryDate,jdbcType=VARCHAR},
      operation_method = #{operationMethod,jdbcType=VARCHAR},
      surgeon = #{surgeon,jdbcType=VARCHAR},
      pathology = #{pathology,jdbcType=VARCHAR},
      differentiation = #{differentiation,jdbcType=VARCHAR},
      pathologic_types = #{pathologicTypes,jdbcType=VARCHAR},
      tumor_area = #{tumorArea,jdbcType=VARCHAR},
      muscularis_infringement = #{muscularisInfringement,jdbcType=VARCHAR},
      other = #{other,jdbcType=VARCHAR},
      vaginal_stump = #{vaginalStump,jdbcType=VARCHAR},
      parasymal_tissue = #{parasymalTissue,jdbcType=VARCHAR},
      left_pelvic = #{leftPelvic,jdbcType=VARCHAR},
      right_pelvic = #{rightPelvic,jdbcType=VARCHAR},
      left_iliac = #{leftIliac,jdbcType=VARCHAR},
      right_iliac = #{rightIliac,jdbcType=VARCHAR},
      left_blood_vessels = #{leftBloodVessels,jdbcType=VARCHAR},
      right_blood_vessels = #{rightBloodVessels,jdbcType=VARCHAR},
      left_obturator = #{leftObturator,jdbcType=VARCHAR},
      right_obturator = #{rightObturator,jdbcType=VARCHAR},
      aorta_abdominalis = #{aortaAbdominalis,jdbcType=VARCHAR},
      greater_omentum_tissue = #{greaterOmentumTissue,jdbcType=VARCHAR},
      appendix = #{appendix,jdbcType=VARCHAR},
      cervicitis = #{cervicitis,jdbcType=VARCHAR},
      uterus = #{uterus,jdbcType=VARCHAR},
      ovary = #{ovary,jdbcType=VARCHAR},
      fallopian_tubes = #{fallopianTubes,jdbcType=VARCHAR},
      er = #{er,jdbcType=VARCHAR},
      pr = #{pr,jdbcType=VARCHAR},
      p53 = #{p53,jdbcType=VARCHAR},
      ki67 = #{ki67,jdbcType=VARCHAR},
      ck = #{ck,jdbcType=VARCHAR},
      sma = #{sma,jdbcType=VARCHAR},
      cd10 = #{cd10,jdbcType=VARCHAR},
      elses = #{elses,jdbcType=VARCHAR},
      postoperation_radiotherapy = #{postoperationRadiotherapy,jdbcType=VARCHAR},
      postoperative_chemotherapy = #{postoperativeChemotherapy,jdbcType=VARCHAR},
      chemotherapy_regimens = #{chemotherapyRegimens,jdbcType=VARCHAR},
      chemotherapy_regimen = #{chemotherapyRegimen,jdbcType=VARCHAR},
      followup_plan = #{followupPlan,jdbcType=VARCHAR},
      followup_time = #{followupTime,jdbcType=VARCHAR},
      followup_content = #{followupContent,jdbcType=VARCHAR},
      transfer = #{transfer,jdbcType=VARCHAR},
      survival = #{survival,jdbcType=VARCHAR},
      death_time = #{deathTime,jdbcType=VARCHAR},
      death_cause = #{deathCause,jdbcType=VARCHAR},
      pathological_diagnosis = #{pathologicalDiagnosis,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fancy.cancer.api.po.Sarcoma">
    update sarcoma
    set number = #{number,jdbcType=VARCHAR},
      admission_number = #{admissionNumber,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      age = #{age,jdbcType=VARCHAR},
      id_number = #{idNumber,jdbcType=VARCHAR},
      specimen_number = #{specimenNumber,jdbcType=VARCHAR},
      contact_address = #{contactAddress,jdbcType=VARCHAR},
      home_phone = #{homePhone,jdbcType=VARCHAR},
      contact_number = #{contactNumber,jdbcType=VARCHAR},
      contact_two = #{contactTwo,jdbcType=VARCHAR},
      contact_number_thr = #{contactNumberThr,jdbcType=VARCHAR},
      admission_time = #{admissionTime,jdbcType=VARCHAR},
      discharge_date = #{dischargeDate,jdbcType=VARCHAR},
      hospitalization_days = #{hospitalizationDays,jdbcType=VARCHAR},
      hospital_departments = #{hospitalDepartments,jdbcType=VARCHAR},
      principle_action = #{principleAction,jdbcType=VARCHAR},
      family_history = #{familyHistory,jdbcType=VARCHAR},
      hospital_diagnosis = #{hospitalDiagnosis,jdbcType=VARCHAR},
      complications = #{complications,jdbcType=VARCHAR},
      else_str = #{elseStr,jdbcType=VARCHAR},
      installment = #{installment,jdbcType=VARCHAR},
      menarche_age = #{menarcheAge,jdbcType=VARCHAR},
      menstrual_period = #{menstrualPeriod,jdbcType=VARCHAR},
      cycle = #{cycle,jdbcType=VARCHAR},
      menopausal_age = #{menopausalAge,jdbcType=VARCHAR},
      lmp = #{lmp,jdbcType=VARCHAR},
      marriage_history = #{marriageHistory,jdbcType=VARCHAR},
      production_number = #{productionNumber,jdbcType=VARCHAR},
      abortion_number = #{abortionNumber,jdbcType=VARCHAR},
      surgery_date = #{surgeryDate,jdbcType=VARCHAR},
      operation_method = #{operationMethod,jdbcType=VARCHAR},
      surgeon = #{surgeon,jdbcType=VARCHAR},
      pathology = #{pathology,jdbcType=VARCHAR},
      differentiation = #{differentiation,jdbcType=VARCHAR},
      pathologic_types = #{pathologicTypes,jdbcType=VARCHAR},
      tumor_area = #{tumorArea,jdbcType=VARCHAR},
      muscularis_infringement = #{muscularisInfringement,jdbcType=VARCHAR},
      other = #{other,jdbcType=VARCHAR},
      vaginal_stump = #{vaginalStump,jdbcType=VARCHAR},
      parasymal_tissue = #{parasymalTissue,jdbcType=VARCHAR},
      left_pelvic = #{leftPelvic,jdbcType=VARCHAR},
      right_pelvic = #{rightPelvic,jdbcType=VARCHAR},
      left_iliac = #{leftIliac,jdbcType=VARCHAR},
      right_iliac = #{rightIliac,jdbcType=VARCHAR},
      left_blood_vessels = #{leftBloodVessels,jdbcType=VARCHAR},
      right_blood_vessels = #{rightBloodVessels,jdbcType=VARCHAR},
      left_obturator = #{leftObturator,jdbcType=VARCHAR},
      right_obturator = #{rightObturator,jdbcType=VARCHAR},
      aorta_abdominalis = #{aortaAbdominalis,jdbcType=VARCHAR},
      greater_omentum_tissue = #{greaterOmentumTissue,jdbcType=VARCHAR},
      appendix = #{appendix,jdbcType=VARCHAR},
      cervicitis = #{cervicitis,jdbcType=VARCHAR},
      uterus = #{uterus,jdbcType=VARCHAR},
      ovary = #{ovary,jdbcType=VARCHAR},
      fallopian_tubes = #{fallopianTubes,jdbcType=VARCHAR},
      er = #{er,jdbcType=VARCHAR},
      pr = #{pr,jdbcType=VARCHAR},
      p53 = #{p53,jdbcType=VARCHAR},
      ki67 = #{ki67,jdbcType=VARCHAR},
      ck = #{ck,jdbcType=VARCHAR},
      sma = #{sma,jdbcType=VARCHAR},
      cd10 = #{cd10,jdbcType=VARCHAR},
      elses = #{elses,jdbcType=VARCHAR},
      postoperation_radiotherapy = #{postoperationRadiotherapy,jdbcType=VARCHAR},
      postoperative_chemotherapy = #{postoperativeChemotherapy,jdbcType=VARCHAR},
      chemotherapy_regimens = #{chemotherapyRegimens,jdbcType=VARCHAR},
      chemotherapy_regimen = #{chemotherapyRegimen,jdbcType=VARCHAR},
      followup_plan = #{followupPlan,jdbcType=VARCHAR},
      followup_time = #{followupTime,jdbcType=VARCHAR},
      followup_content = #{followupContent,jdbcType=VARCHAR},
      transfer = #{transfer,jdbcType=VARCHAR},
      survival = #{survival,jdbcType=VARCHAR},
      death_time = #{deathTime,jdbcType=VARCHAR},
      death_cause = #{deathCause,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByCondition" parameterType="com.fancy.cancer.api.po.Sarcoma" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sarcoma
    <where>
      <if test="admissionNumber!=null and admissionNumber!=''">
        admission_number  like CONCAT(#{admissionNumber,jdbcType=VARCHAR}, '%')
      </if>
      <if test="name!=null and name!=''">
        and name  like  CONCAT(#{name,jdbcType=VARCHAR}, '%')
      </if>
      <if test="pathology!=null and pathology!=''">
        and pathology  like  CONCAT(#{pathology,jdbcType=VARCHAR}, '%')
      </if>
    </where>
    order by id desc
  </select>
    <select id="selectAll" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List" />
        ,
        <include refid="Blob_Column_List" />
        from sarcoma
    </select>
</mapper>